/* @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/*================ Global Style =================*/
:root {
    --main-color: #42526e;
    --second-color: #e5e9f2;
    --3rd-color: #eff2f7;
    --4th-color: #a6a6a6;
    --5th-color: #e7e7e7;
    --1st-input-bg: #eff2f7;
    --2nd-input-bg: #e5e9f4;
    --3rd-input-bg: #f3f3f3;
    --1st-border-color: #444444;
    --2nd-border-color: #f5f5f5;
    --red-color: #f70f06;
    --yellow-color: #f8dd00;
    --yellow-light-color: #fffbeb;
    --blue-color: #4182dd;
    --blue-dark-color: #4182dd;
    --border-radius-5: 5px;
    --border-radius-1: 1px;
    --padding-02: 2rem;
    --1st-box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 30%);
    --2nd-box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 3px -2px rgb(0 0 0 / 12%), 0 3px 4px 0 rgb(0 0 0 / 14%);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: clamp(14px, .75rem + 0.2vw, 2rem) !important;
    font-family: 'Tajawal', sans-serif;
}

body {
    color: var(--main-color);
    -webkit-font-smoothing: antialiased;
}

img {
    vertical-align: middle;
}

button {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

input:not([type="search"]) {
    padding: 10px 20px;
    border-radius: var(--border-radius-5);
    border: 1px solid rgb(212, 212, 212);
    text-align: right;

}

::placeholder {
    font-family: 'Tajawal', sans-serif;
}

.h1,
h1 {
    font-size: clamp(19px, 1.35rem + 1.2vw, 2.8333333333rem) !important;
    font-weight: 600;
}

.h2,
h2 {
    font-size: clamp(18px, 1.3rem + 0.9vw, 2.6666666667rem) !important;
    font-weight: 600;
}

.h3,
h3 {
    font-size: clamp(17px, 1.2rem + 0.5vw, 2rem) !important;
    font-weight: 600 !important;
}

.h4,
h4 {
    font-size: clamp(16px, 1.2rem + 0.3vw, 2.3333333333rem) !important;
    font-weight: 600;
}

.h5,
h5 {
    font-size: clamp(15px, 1.15rem, 2.1666666667rem) !important;
    font-weight: 600;
}

.h6,
h6 {
    font-size: clamp(14px, 1.1rem, 2rem) !important;
    font-weight: 600;
}

.link {
    cursor: pointer;
}

.container {
    width: clamp(50px, 85vw, 100vw);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    flex-flow: row wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.f-dir-row-reverse {
    flex-direction: row-reverse;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-content-center {
    align-content: center;
}

.align-self-center {
    align-self: center;
}

.text-align-center {
    text-align: center;
}

.btn {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    max-width: 100%;
    word-wrap: break-word;
    transition: all .5s ease-in-out;
}

.main-btn {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.danger-btn {
    background-color: var(--red-color);
    border-color: var(--red-color);
}

.w-100 {
    width: 100%;
}

.g-5 {
    gap: 5px;
}

.gx-1 {
    gap: 0 12px;
}

.p-80 {
    padding: 80px 0;
}

.pt-120 {
    padding-top: 120px;
}

.p-1 {
    padding: 12px;
}

.p-2 {
    padding: 24px;
}

.p-3 {
    padding: 36px;
}

.pr-1 {
    padding-right: 12px;
}

.pt-1 {
    padding-top: 12px;
}

.pt-2 {
    padding-top: 24px;
}

.pb-2 {
    padding-bottom: 24px;
}

.px-2 {
    padding-inline: 24px;
}

.py-1 {
    padding-block: 12px;
}

.py-2 {
    padding-block: 24px;
}

.m-1 {
    margin: 12px;
}

.mr-1 {
    margin-right: 12px;
}

.ml-1 {
    margin-left: 12px;
}

.mt-1 {
    margin-top: 12px;
}

.mb-1 {
    margin-bottom: 12px !important;
}

.mt-2 {
    margin-top: 24px;
}

.mb-2 {
    margin-bottom: 24px;
}

.my-1 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.my-2 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left-1 {
    left: 1rem;
}

.left-2 {
    left: 2rem;
}

.center-v {
    top: 50%;
    transform: translateY(-50%);
}

.f-grow-1 {
    flex-grow: 1;
}

.f-grow-3 {
    flex-grow: 3;
}

.form-control {
    display: flex;
    align-items: center;
}

.price {
    color: var(--red-color);
}

.close-btn {
    cursor: pointer;
    background-color: red;
    margin: .3em;
    display: inherit;
    border-radius: var(--border-radius-2);
}

.close-btn img {
    width: 24px;
    padding: 6px !important;
}

.close-btn:hover {
    color: var(--red-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/*================ Modal =================*/
.top-nav {
    grid-area: "tn";
    background-color: #f9fafc;
    border: 1px solid var(--second-color);
}

.top-nav li {
    text-align: center;
    border-left: 1px solid var(--second-color);
    flex: 1 0 auto;
    padding: 7px 0;
}

.top-nav li a {
    color: inherit;
}

.top-nav li object {
    width: 15px;
    height: auto;
    vertical-align: middle;
    margin-left: 20px;
}

.top-nav li img {
    padding-left: 10px;
}

.main-nav {
    padding: 20px;
}

.main-nav .logo {
    font-size: 40px;
    font-weight: 600;
    text-align: right;
}

.main-nav .logo img {
    max-width: 50% !important;
}

.main-nav input[type="search"] {
    padding: 10px 20px;
    border-radius: 50px;
    text-align: right;
    background-color: var(--3rd-color);
}

.main-nav .search-category {
    display: none;
    line-height: 0;
}

.main-nav .search-category li {
    display: inline-block;
    width: fit-content;
    padding: .8em 1em;
    border-radius: 50px;
    border: 1px solid var(--main-color);
    font-size: 10px;
    margin-right: 10px;
}

.main-nav .cart-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
    border-radius: 100px;
    background-color: var(--3rd-color);
    color: var(--main-color);
}

.main-nav .cart-btn img {
    width: 18px;
    transform: rotateY(180deg);
}

.main-nav .cart-btn .cart-quantity {
    color: white;
    background-color: var(--red-color);
    padding: 0.2em 0.3em;
    position: absolute;
    left: 99px;
    top: 88px;
    border: solid 2px var(--red-color);
    border-radius: 15px;
    font-weight: bolder;
}

/* ====== Slideshow ======*/
.slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: #939698;
    margin: 0 6px 0 6px;
}

.slideshow {
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;
}

.slideshow>.slide {
    min-width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    /* animation: move 12s linear infinite; */
    display: inline-block;
}

/* .slideshow>.slide img {
    width: 100%;
} */

.mySlider {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.mySlider .slider {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
}

.mySlider .slider>* {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

/*.mySlider .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
}

.mySlider .prevNext>div+div {
    visibility: hidden;
}

 .mySlider .prevNext a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    width: 2.3em;
    height: 2.3em;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0 4px 4px 0;
    border-radius: 0 2px 2px 0;
}

.mySlider .prevNext .arrowPrev {
    left: 6%;
    transform: translateY(-50%) rotate(135deg);
}

.mySlider .prevNext .arrowNext {
    right: 6%;
    transform: translateY(-50%) rotate(315deg);
}

.mySlider .prevNext a:hover {
    opacity: 1;
} */

/* 
@keyframes move {
    0%, 14% {
        transform: translateX(0);
    }

    15%, 29% {
        transform: translateX(-100%);
    }

    30%, 44% {
        transform: translateX(-200%);
    }

    45%, 59% {
        transform: translateX(-300%);
    }

    60%, 74% {
        transform: translateX(-400%);
    }

    75%, 89% {
        transform: translateX(-500%);
    }

    90%, 100% {
        transform: translateX(-600%);
    }
} */

/*================= Offers ==================*/
section.current-offers .offer-item {
    padding: .75rem 0;
    border: 1px solid var(--2nd-border-color);
    box-shadow: var(--1st-box-shadow);
    border-radius: var(--border-radius-5);
    padding: 0 10px;
}

section.current-offers .offer-item:first-child {
    margin-right: 0 !important;
}

section.current-offers .offer-item:hover {
    border-color: var(--red-color);
}

section.current-offers .offer-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    text-align: center;
}

section.current-offers .offer-text {
    color: var(--main-color);

}

section.current-offers .offer-text a {
    color: inherit;
}

section.current-offers .price span:last-child {
    font-size: 12px !important;
    color: var(--5th-color)
}

section.current-offers #time-left {
    color: var(--main-color);
    font-weight: 900 !important;
    border: 1px solid var(--main-color)
}

section.current-offers .offer-footer {
    padding-inline: 1.5rem;
}

section.current-offers .offer-footer>li {
    cursor: pointer;
}

section.current-offers .offer-footer .addProduct button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
    border-radius: 100px;
    background: var(--red-color);
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 3px -2px rgb(0 0 0 / 12%), 0 3px 4px 0 rgb(0 0 0 / 14%);
}

section.current-offers object {
    width: 25px;
    height: 25px;
}

/*================= Details ==================*/
.details-section ul.breadcrumb {
    padding: 10px 16px;
}

.details-section ul.breadcrumb li+li:before {
    padding: 8px;
    color: #000;
    content: "/\00a0";
}

.details-section ul.breadcrumb li a {
    color: var(--blue-color);
}

.details-section ul.breadcrumb li a:hover {
    color: var(--blue-dark-color);
    text-decoration: underline;
}

.details-section .item-details {
    padding: 1rem;
    border: 1px solid var(--2nd-border-color);
    box-shadow: var(--1st-box-shadow);
    border-radius: var(--border-radius-5);
}

.details-section .item-details img {
    max-width: fit-content;
    position: relative;
    right: 50%;
    transform: translateX(50%);
}

.details-section .gallery {
    width: 100%;
}

.details-section .gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.details-section .gallery-item {
    height: 150px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 150px;
    z-index: 0;
}

.details-section .gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.details-section .gallery-item-2,
.details-section .gallery-item-4 {
    height: 200px;
    opacity: 1;
    width: 200px;
    z-index: 1;
}

.details-section .gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.details-section .gallery-item-3 {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 2;
}

.details-section .gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.details-section .gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.details-section .gallery-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.details-section .gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 12px;
    text-transform: capitalize;
}

.details-section .gallery-controls button:focus {
    outline: none;
}

.details-section .gallery-controls-previous {
    position: relative;
}

.details-section .gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    left: -10px;
    padding: 2px;
    position: absolute;
    top: 0;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 4px;
}

.details-section .gallery-controls-previous:hover::before {
    left: -18px;
}

.details-section .gallery-controls-next {
    position: relative;
}

.details-section .gallery-controls-next::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    padding: 2px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 4px;
}

.details-section .gallery-controls-next:hover::before {
    right: -18px;
}

.details-section .gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.details-section .gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.details-section .gallery-nav li.gallery-item-selected {
    background: #555;
}

.slideshow-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/*================= Cart ==================*/
.cart-section img {
    vertical-align: initial;
    width: 25px;
}

.cart-section .subtitle {
    color: var(--4th-color);
    font-weight: 400;
}

.cart-section .item-details .h5 {
    font-weight: 800 !important;
}

.cart-section .cart-item, .cart-section .cart-summary {
    border: 1px solid var(--2nd-border-color);
    box-shadow: var(--1st-box-shadow);
    border-radius: var(--border-radius-5);
}

.cart-section .cart-item:first-child {
    margin: 0 !important;
}

.cart-section .cart-item .subtitle {
    font-size: 12px !important;
    color: var(--4th-color);
    font-style: italic;
    font-weight: 500;
}

.cart-section .blockquote {
    font-size: 1.4em;
    color: var(--4th-color);
    padding: .8em 20px .8em 2.6em;
    border-right: 5px solid var(--yellow-color);
    background: var(--yellow-light-color);
    border-radius: var(--border-radius-5);
}

.cart-section .blockquote b {
    color: var(--main-color);
}


.cart-section .blockquote span a {
    display: block;
    color: var(--blue-color) !important;
}

.cart-section .item-bottom span {
    font-weight: 600;
}

.cart-section .item-bottom {
    border-top: 2px solid var(--2nd-border-color);
}

.cart-section .item-bottom span i {
    background-color: black;
    color: #fff;
    font-size: 8px !important;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin-left: 2px;
}

.cart-section .qty-block {
    border-radius: var(--border-radius-1);
    color: #809296;
}

.cart-section .increment, .cart-section .decrement {
    padding: 3px 6px;
    border: 1px solid #d4d4d4;
    border-radius: var(--border-radius-1);
    font-size: 8px !important;
    background-color: #f1f1f1;
}

.cart-section input {
    padding: 0 5px;
    text-align: center;
    width: 30px;
    border-radius: var(--border-radius-1);
    color: inherit;
}

.cart-section .cart-summary {
    color: var(--main-color);
}

.cart-section .cart-summary small {
    font-size: 11px !important;
    font-weight: 400 !important;
}

.cart-section .cart-summary button {
    border-radius: var(--border-radius-5);
    box-shadow: var(--2nd-box-shadow);
}

.cart-section .cart-summary p {
    color: var(--4th-color);
}

.cart-section .cart-summary p a {
    color: var(--blue-color);
}

.cart-section .form_wrapper .msf_hide {
    display: none;
}

.cart-section .form_wrapper .msf_show {
    display: block;
}

.cart-section .form_wrapper .msf_bullet_o {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cart-section .form_wrapper .msf_bullet_o>div {
    height: 15px;
    width: 15px;
    margin: 20px 10px;
    border-radius: 100px;
    z-index: 2;
}

.cart-section .form_wrapper .msf_bullet {
    background-color: lightgrey;

}

.cart-section .form_wrapper .msf_bullet_active {
    background-color: darkgrey !important;
}


.cart-section .form_wrapper .msf_line {
    opacity: 0.3;
    background: lightgrey;
    height: 3px;
    width: 70px;
    display: block;
    left: 50%;
    margin-top: -29px;
    margin-left: -35px;
    position: absolute;
    z-index: 1;
}


.cart-section .form_wrapper fieldset {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 30px;
    border-radius: 0px;
    border: none;
    padding: 10px 20px !important;
}

.cart-section .form_wrapper input {
    display: block;
    width: 100%;
    height: 40px !important;
    margin: 15px 0px;
}

.cart-section .form_wrapper input[type="text"], .cart-section .form_wrapper input[type="email"] {
    outline: none;
    border: none;
    background-color: lightgrey;
    padding: 5px 0px !important;
    text-align: center;
    transition: all 250ms;
}

.cart-section .form_wrapper input[type="text"]:focus, .cart-section input[type="email"]:focus {
    opacity: 0.5;
}

.cart-section .form_wrapper input[type="button"], .cart-section input[type="submit"] {
    margin-top: 20px !important;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 15px !important;
    line-height: 0px;
    background-color: #fff;
    transition: all 150ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;
}

.cart-section .form_wrapper input[type="button"]:hover, .cart-section input[type="submit"]:hover {
    background-color: darkgrey;
    color: white;
}

.cart-section .form_wrapper h2 {
    text-align: center;
    font-size: 22px;
    font-family: opensans;
    font-weight: 400;
    display: block;
    margin-bottom: 25px !important;
}

/*================= Footer ==================*/
footer {
    background-color: #353535;
    grid-area: f;
    padding: 60px 0;
    text-align: right;
}

footer h2 {
    color: var(--4th-color);
    border-bottom: 2px solid var(--1st-border-color);
    padding-bottom: 3px;
}

footer h2.subscribe {
    display: none;
}

footer ul {
    display: none;
    padding: 20px 0;
}

footer ul li {
    padding: .6em 0;
}

footer *:not(h2) {
    color: var(--5th-color);
}

footer form {
    padding: 10px;
    background-color: #505050;
    border-radius: var(--border-radius-5);
    margin-top: 10px;
    gap: 10px;
}

footer .form-control {
    background-color: #d3d3d3;
    border-radius: var(--border-radius-5);
}

footer .form-control input {
    background-color: inherit;
}

footer .form-control i {
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

footer .form-control.email {
    flex: 2 1 auto;
}

footer input[type="submit"] {
    background-color: #d3d3d3;
}

footer input[type="submit"] {
    color: #000;
}

footer .icon-link {
    width: 40px !important;
    height: 40px !important;
}


footer .icon-link object {
    max-width: 100%;
    height: auto;
}

/*======================= Signup Page ==========================*/
[class*="-form"] h2 {
    border-bottom: 2px solid var(--2nd-border-color);
    padding-bottom: 3px;
}

[class*="-form"] label {
    position: relative;
    top: 2px;
}

.signup-form input[type="submit"], .signup-form input[type="text"]#confirmCode {
    background-color: var(--2nd-input-bg);
    text-align: center;
}


[class*="-form"] input:not([type="checkbox"]), [class*="-form"] input:not([type="submit"]) {
    background-color: var(--1st-input-bg);
    width: 100%;
}

[class*="-form"] input[type="checkbox"] {
    background-color: var(--blue-color);
    height: 24px;
    width: 24px;
}

.signup-form p {
    text-align: start;
    color: var(--4th-color);
}

.signup-form p a {
    color: var(--blue-color);
}

/* ========== login-container ========== */
.login-form input[type="submit"] {
    background-color: var(--red-color);
    text-align: center;
    color: #fff;
}

.login-form .have-account {
    margin-top: 60px;
}

.login-form .have-account button {
    color: #656769;
    font-size: 1.1em;
    margin-top: 0.5rem;
    border-radius: var(--border-radius-5);
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 3px -2px rgb(0 0 0 / 12%), 0 3px 4px 0 rgb(0 0 0 / 14%);
    transition: .3s ease-in-out;
}

.login-form .have-account button:hover {
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}

@media (max-width: 484px) {
    .col-xs-1 {
        flex: 0 0 8.333%;
    }

    .col-xs-2 {
        flex: 0 0 16.666%;
    }

    .col-xs-3 {
        flex: 0 0 25%;
    }

    .col-xs-4 {
        flex: 0 0 33.333%;
    }

    .col-xs-5 {
        flex: 0 0 41.667%;
    }

    .col-xs-6 {
        flex: 0 0 50%;
    }

    .col-xs-7 {
        flex: 0 0 58.333%;
    }

    .col-xs-8 {
        flex: 0 0 66.667%;
    }

    .col-xs-9 {
        flex: 0 0 75%;
    }

    .col-xs-10 {
        flex: 0 0 83.333%;
    }

    .col-xs-11 {
        flex: 0 0 91.666%;
    }

    .col-xs-12 {
        flex: 0 0 100%;
    }
}

@media (min-width: 486px) {
    .col-sm-1 {
        flex: 0 0 8.333%;
    }

    .col-sm-2 {
        flex: 0 0 16.666%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.333%;
    }

    .col-sm-5 {
        flex: 0 0 41.667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.333%;
    }

    .col-sm-8 {
        flex: 0 0 66.667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.333%;
    }

    .col-sm-11 {
        flex: 0 0 91.666%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
    }

    .d-sm-none {
        display: none;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-block {
        display: block;
    }
}

@media (min-width: 720px) {
    .col-md-1 {
        flex: 0 0 8.333%;
    }

    .col-md-2 {
        flex: 0 0 16.666%;
    }

    .col-md-3 {
        flex: 0 0 25%;
    }

    .col-md-4 {
        flex: 0 0 33.333%;
    }

    .col-md-5 {
        flex: 0 0 41.667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
    }

    .col-md-7 {
        flex: 0 0 58.333%;
    }

    .col-md-8 {
        flex: 0 0 66.667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
    }

    .col-md-10 {
        flex: 0 0 83.333%;
    }

    .col-md-11 {
        flex: 0 0 91.666%;
    }

    .col-md-12 {
        flex: 0 0 100%;
    }

    .mt-md-0 {
        margin-top: 0;
    }

    .d-md-block {
        display: block !important;
    }
}

@media (min-width: 960px) {
    .col-lg-1 {
        flex: 0 0 8.333%;
    }

    .col-lg-2 {
        flex: 0 0 16.666%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.333%;
    }

    .col-lg-5 {
        flex: 0 0 41.667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.333%;
    }

    .col-lg-8 {
        flex: 0 0 66.667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.333%;
    }

    .col-lg-11 {
        flex: 0 0 91.666%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
    }
}