@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*================ Global Style =================*/
:root {
    --main-color: #42526e;
    --3rd-color: #eff2f7;
    --4th-color: #a6a6a6;
    --5th-color: #e7e7e7;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: 'Tajawal', sans-serif;
    /* display: grid;
    grid-template-areas: "h h h h h h h h h h h h h",
        "m m m m m m m m m m m m",
        "f f f f f f f f f f f f";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr; */
}

img {
    vertical-align: middle;
}

button {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

::placeholder {
    font-family: 'Tajawal', sans-serif;
}

.container {
    width: clamp(50px, 85vw, 100vw);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.f-dir-row-reverse {
    flex-direction: row-reverse;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.ml-1 {
    margin-left: 1rem;
}

.mt-2 {
    margin-top: 24px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left-1 {
    left: 1rem;
}

.left-2 {
    left: 2rem;
}

.center-v {
    top: 50%;
    transform: translateY(-50%);
}

.flex-grow-1 {
    flex-grow: 1;
}

header {
    /* grid-area: 'header';
    display: grid;
    grid-area: "tn tn tn tn tn tn tn tn tn tn tn tn",
        "mn mn mn mn mn mn mn mn mn mn mn mn"; */
}


.top-nav {
    grid-area: "tn";
    background-color: #f9fafc;
    border: 1px solid #e5e9f2;
}

.top-nav li {
    text-align: center;
    border-left: 1px solid #e5e9f2;
    flex: 1 0 auto;
    padding: 8px 0;
}

.top-nav li a {
    color: var(--main-color);
    font-size: 16px;
    /* width: 20px;
    height: 20px; */
}

.top-nav li object {
    max-width: 15%;
    height: auto;
    vertical-align: middle;
}

.top-nav li i, .top-nav li img {
    padding-left: 10px;
}

.main-nav {
    grid-area: "mn";
}

.main-nav .logo {
    font-size: 40px;
    font-weight: 600;
    text-align: right;
}

.main-nav input[type="search"] {
    padding: 10px 20px;
    border-radius: 50px;
    text-align: right;
    width: 100%;
    background-color: var(--3rd-color);
}

.main-nav .search-category {
    line-height: 0;
}

.main-nav button i {
    color: var(--main-color);
}

.main-nav .search-category li {
    display: inline-block;
    width: fit-content;
    padding: .8em 1em;
    border-radius: 50px;
    border: 1px solid var(--main-color);
    font-size: 10px;
    margin-right: 10px;
}

.main-nav .cart-btn {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--3rd-color);
    color: var(--main-color);
}

.slider__nav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: #939698;
    margin: 0 6px 0 6px;
}

/* .mySlider .slideshow {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: solid 1px white;
}

.mySlider .slideshow-container {
    width: 2500px;
    font-size: 0;
    transition: 1s ease;
    height: 225px;
}

.mySlider .slideshow-container:hover {
    animation-play-state: paused;
}

.mySlider img {
    width: 100% !important;
    height: auto;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.mySlider {
    height: 100%;
} */
.image-slideshow {
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;
}

.image-slideshow>div {
    width: 100%;
    height: calc(100vh - 200px);
    animation: move 15s ease-in-out 2s infinite alternate;
    display: inline-block;
}

/* .image-slideshow>div div {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
} */

@keyframes move {
    0%, 30% {
        transform: translateX(0);
    }

    40%, 70% {
        transform: translateX(-100%);
    }

    80%, 100% {
        transform: translateX(-200%);
    }
}




/*================= Main ==================*/
main {
    height: 90vh;
}

/*================= Footer ==================*/
footer {
    background-color: #353535;
    grid-area: f;
    padding: 60px 0;
    text-align: right;
}

footer h2 {
    color: var(--4th-color);
    border-bottom: 1px solid #979797;
    padding-bottom: 3px;
}

footer ul {
    display: none;
    padding: 20px 0;
}

footer ul li {
    padding: .6em 0;
}

footer *:not(h2) {
    color: var(--5th-color);
}

footer form {
    padding: 10px;
    background-color: #505050;
    border-radius: 5px;
    margin-top: 10px;
}

footer input[type="email"], footer input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    text-align: right;
}

footer input[type="email"] {
    width: 100%;
    background-color: #d3d3d3;
}

footer input[type="submit"] {
    margin-top: 10px;
    color: #000;
}

footer .icon-link {
    width: 40px !important;
    height: 40px !important;
}


footer .icon-link object {
    max-width: 100%;
    height: auto;
}

@media (max-width: 484px) {
    .col-xs-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-xs-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xs-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-xs-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xs-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-xs-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-xs-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xs-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-xs-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 486px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .d-sm-none {
        display: none;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-block {
        display: block;
    }
}

@media (min-width: 720px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .d-md-block {
        display: block;
    }
}