@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*================ Global Style =================*/
:root {
    --main-color: #42526e;
    --second-color: #e5e9f2;
    --3rd-color: #eff2f7;
    --4th-color: #a6a6a6;
    --5th-color: #e7e7e7;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: clamp(14px, .75rem + 0.2vw, 2rem) !important;
    font-family: 'Tajawal', sans-serif;
}

body {
    color: var(--main-color);
    /* display: grid;
    grid-template-areas: "h h h h h h h h h h h h h",
        "m m m m m m m m m m m m",
        "f f f f f f f f f f f f";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr; */
}

img {
    vertical-align: middle;
}

button {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

::placeholder {
    font-family: 'Tajawal', sans-serif;
}

.container {
    width: clamp(50px, 85vw, 100vw);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.f-dir-row-reverse {
    flex-direction: row-reverse;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.w-100 {
    width: 100%;
}

.ml-1 {
    margin-left: 1rem;
}

.mt-2 {
    margin-top: 24px;
}

.my-2 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left-1 {
    left: 1rem;
}

.left-2 {
    left: 2rem;
}

.center-v {
    top: 50%;
    transform: translateY(-50%);
}

.flex-grow-1 {
    flex-grow: 1;
}

header {
    /* grid-area: 'header';
    display: grid;
    grid-area: "tn tn tn tn tn tn tn tn tn tn tn tn",
        "mn mn mn mn mn mn mn mn mn mn mn mn"; */
}


.top-nav {
    grid-area: "tn";
    background-color: #f9fafc;
    border: 1px solid var(--second-color);
}

.top-nav li {
    text-align: center;
    border-left: 1px solid var(--second-color);
    flex: 1 0 auto;
    padding: 7px 0;
}

.top-nav li a {
    color: inherit;
}

.top-nav li object {
    width: 15px;
    height: auto;
    vertical-align: middle;
    margin-left: 20px;
}

.top-nav li img {
    padding-left: 10px;
}

.main-nav {
    grid-area: "mn";
}

.main-nav .logo {
    font-size: 40px;
    font-weight: 600;
    text-align: right;
}

.main-nav input[type="search"] {
    padding: 15px 20px;
    border-radius: 50px;
    text-align: right;
    background-color: var(--3rd-color);
}

.main-nav .search-category {
    display: none;
    line-height: 0;
}

.main-nav .search-category li {
    display: inline-block;
    width: fit-content;
    padding: .8em 1em;
    border-radius: 50px;
    border: 1px solid var(--main-color);
    font-size: 10px;
    margin-right: 10px;
}

.main-nav .cart-btn {
    padding: 15px;
    border-radius: 50%;
    background-color: var(--3rd-color);
    color: var(--main-color);
}

.main-nav .cart-btn object {
    width: 18px;
    transform: rotateY(180deg);
}

/* ====== Slideshow ======*/
.slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: #939698;
    margin: 0 6px 0 6px;
}

.slideshow {
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;
}

.slideshow>.slide {
    min-width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    animation: move 12s linear infinite;
    display: inline-block;
}

.slideshow>.slide img {
    width: 100%;
}

.mySlider {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.mySlider .slider {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
}

.mySlider .slider>* {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

.mySlider .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
}

.mySlider .prevNext>div+div {
    visibility: hidden;
    /* Hide all but first P/N container */
}

.mySlider .prevNext a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    width: 2.3em;
    height: 2.3em;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0 4px 4px 0;
    border-radius: 0 2px 2px 0;
}

.mySlider .prevNext .arrowPrev {
    left: 6%;
    transform: translateY(-50%) rotate(135deg);
}

.mySlider .prevNext .arrowNext {
    right: 6%;
    transform: translateY(-50%) rotate(315deg);
}

.mySlider .prevNext a:hover {
    opacity: 1;
}

.CSSgal .prevNext a+a {
    left: auto;
    right: 0;
}


@keyframes move {
    0%, 14% {
        transform: translateX(0);
    }

    15%, 29% {
        transform: translateX(-100%);
    }

    30%, 44% {
        transform: translateX(-200%);
    }

    45%, 59% {
        transform: translateX(-300%);
    }

    60%, 74% {
        transform: translateX(-400%);
    }

    75%, 89% {
        transform: translateX(-500%);
    }

    90%, 100% {
        transform: translateX(-600%);
    }
}




/*================= Main ==================*/
main {
    height: 90vh;
}

/*================= Footer ==================*/
footer {
    background-color: #353535;
    grid-area: f;
    padding: 60px 0;
    text-align: right;
}

footer h2 {
    color: var(--4th-color);
    border-bottom: 1px solid #979797;
    padding-bottom: 3px;
}

footer h2.subscribe {
    display: none;
}

footer ul {
    display: none;
    padding: 20px 0;
}

footer ul li {
    padding: .6em 0;
}

footer *:not(h2) {
    color: var(--5th-color);
}

footer form {
    padding: 10px;
    background-color: #505050;
    border-radius: 5px;
    margin-top: 10px;
    gap: 10px;
}


footer .form-control {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
}

footer .form-control input {
    background-color: inherit;
}

footer .form-control i {
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

footer input[type="email"], footer input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    text-align: right;

}

footer .form-control.email {
    flex: 2 1 auto;
}

footer input[type="submit"] {
    background-color: #d3d3d3;
}

footer input[type="submit"] {
    color: #000;
}

footer .icon-link {
    width: 40px !important;
    height: 40px !important;
}


footer .icon-link object {
    max-width: 100%;
    height: auto;
}

@media (max-width: 484px) {
    .col-xs-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-xs-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xs-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-xs-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xs-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-xs-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-xs-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xs-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-xs-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 486px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .d-sm-none {
        display: none;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-block {
        display: block;
    }
}

@media (min-width: 720px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .d-md-block {
        display: block !important;
    }
}

@media (min-width: 960px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}